[submodule "python-isort"]
	path = python-isort
	url = .
        branch = python-isort
[submodule "cxxtools"]
	path = cxxtools
	branch = cxxtools
	url = .
[submodule "duplicity-backup-git"]
	path = duplicity-backup-git
	branch = duplicity-backup-git
	url = .
[submodule "pidgin-light"]
	path = pidgin-light
	branch = pidgin-light
	url = .
[submodule "python-natsort"]
	path = python-natsort
	branch = python-natsort
	url = .
[submodule "python-pies"]
	path = python-pies
	branch = python-pies
	url = .
[submodule "python-setuptools_git"]
	path = python-setuptools_git
	branch = python-setuptools_git
	url = .
[submodule "python2-apscheduler"]
	path = python2-apscheduler
	branch = python2-apscheduler
	url = .
[submodule "python2-natsort"]
	path = python2-natsort
	branch = python2-natsort
	url = .
[submodule "zimlib-git"]
	path = zimlib-git
	branch = zimlib-git
	url = .
